# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VkBot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\feuer\Documents\VkBot\.idea\.idea.VkBot.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
